# Archivos de compilación
*.class
*.war
*.ear
*.jar
*.zip
*.tar.gz
*.rar

# Archivos de configuración específicos de IDE
.settings/
.project
.classpath
.factorypath

# Archivos de NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build.xml
/manifest.mf
/deck/

# Archivos de Eclipse
bin/
.metadata/
*.launch

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos de registro
*.log

# Archivos de dependencias Maven (si se usan en el futuro)
target/

# Archivos de datos de la aplicación
/Data/

# Archivos temporales
*.tmp
*.bak
*.swp
*~.nib
*.lck
*.dat
*.idx
*.jar
*.zip
*.tar.gz
*.rar

# Archivos de configuración locales
*.properties
*.prefs
